<div class="card">
  <div class="card-header">Header</div>
  <div>
    <img src="../../assets/images/i14.jpg" alt="product image" class="card-img-top" />
  </div>

  <div class="card-body">
    <h5 class="card-title title">Title</h5>
    <h6 class="card-subtitle my-2 text-primary">12 products are available</h6>
    <p class="card-text description">Description</p>
  </div>
  <div class="card-body">
    <h5 class="card-title text-success">
      Final Price <span class="text-primary"> -20% </span>
    </h5>
    <h6 class="card-subtitle text-danger text-decoration-line-through">
      Original Price
    </h6>
  </div>
  <div class="card-footer d-grid gap-2">
    <button class="btn btn-outline-success" type="button">Add to Cart</button>
  </div>
</div>
